# Created by .ignore support plugin (hsz.mobi)
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
.data/
*.iml
*.iws
*.ipr

# Mac
.DS_Store
# Maven
log/
target/
mvnw
mvnw.cmd

#project specific
*.log
/bin/
/.checkstyle
